.App {
	text-align: center;
}
.app__logo {
	margin-top: 2rem;
	width: 20%;
}
.app__form {
	background-color: whitesmoke;
	position: fixed;
	bottom: 15px;
	width: 100%;
	padding: 10px;
	z-index: 1;
}
.app__formControl {
	display: flex !important;
	flex-direction: row !important;
}
.app__input {
	flex: 2;
}
.app__iconBtn {
	flex: 1;
}
